
   <li class="collection-item avatar" style="background-color:rgba(20, 20, 20, 0.0);padding-top:20px">
     <%= image_tag track.artwork_url, class:"circle"%>
     <p style="color:white;font-size:20px"><%= track.user.username %></br>
     <span class="title" style="font-size:20px"><%= link_to track.title[0..50] %></span>
     </p>

     <%= button_to "play now", play_song_path(track),
         class: "secondary-content play-button", style:"margin-right:160px", method: :post, params: {service: 'soundcloud'}, remote: true %>
     <%= button_to "add to queue", add_to_queue_path(track),
         class: "secondary-content play-button", method: :post, params: {service: 'soundcloud'}, remote: true %>
   </li>
